h1 {
    color: darkblue;
    text-align:center;
    font-weight:400;
    font-size:50px;
    font-family:'Courier New', Courier, monospace
}
h2{
    color: rgb(139, 0, 19);
    text-align: center;
    font-weight: 400;
    font-family:rgb(192, 246, 255) underline;
}
h3{
    color: rgb(139, 0, 127);
    text-align: center;
    font-weight: 400;
    font-family:rgb(235, 15, 52) underline;
}
h4{
    color: rgb(16, 139, 0);
    text-align: center;
    font-weight: 400;
    font-family:rgb(192, 240, 255) underline;
}

h3{
    text-decoration: orange underline;
    
}

p{
    Line-hight:1.5;
    letter-spacing:0.3ex;
}